<header class="header s-m">
    <div class="flex ac jsb container header-cont">
        <h2 class="header-h2">
            Employee Manager Portal
        </h2>
        <button class="btn btn-outline-primary" (click)="addEmployee()">
            <div class="flex ac">
                <span class="material-icons">add</span>
                New Employee
            </div>
        </button>
    </div>
</header>
<app-filter>

</app-filter>
<section class="employee s-m">
    <div class="container employee-cont">
        <table class="w100 employee-table">
            <thead>
                <tr>
                    <th>
                        <div class="flex ac">
                            <span> Work Unit </span>
                            <span class="material-icons arr-d">
                                arrow_downward
                            </span>
                        </div>
                    </th>
                    <th>Work Site</th>
                    <th class="tc">Unit Size</th>
                    <th class="tc">Active Until</th>
                    <th class="danger tc">
                        <div class="fc">
                            Flex Capable
                            <span class="material-icons danger-icon">
                                warning
                            </span>
                        </div>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="danger">
                        <div class="fc">
                            Yes
                            <span class="material-icons danger-icon">
                                warning
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="danger">
                        <div class="fc">
                            Yes
                            <span class="material-icons danger-icon">
                                warning
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="danger">
                        <div class="fc">
                            12/18
                            <span class="material-icons danger-icon">
                                warning
                            </span>
                        </div>
                    </td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>

            </tbody>
        </table>
    </div>

</section>