<section class="filter s-m">
    <div class="container">
        <div class="filter-cont">
            <div class="flex ac jsb filter_t">
                <div class="flex ac">
                    <span class="material-icons">filter_alt</span>
                    <h4 class="filter_t-h4">Additional Filter</h4>
                </div>
                <p class="filter_t-p">
                    <span class="material-icons expand">
                        expand_less
                    </span>
                </p>
            </div>
            <div class="flex ac filter_b">
                <div class="filter_b-i filter-site">
                    <p class="filter_b-i-p">
                        Work Site
                    </p>
                    <select name="All" id="">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="filter_b-i filter-status">
                    <p class="filter_b-i-p">
                        Status
                    </p>
                    <select name="All" id="">
                        <option value="">Active</option>
                    </select>
                </div>
                <div class="filter_b-i filter-flex">
                    <p class="filter_b-i-p">
                        Flex
                    </p>
                    <select name="All" id="">
                        <option value="">All</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>