<form [formGroup]="dialogForm">
    <span>Unit Size: 51</span>
    <div formGroupName="supervisor" class="flex shift-wrap shift-head">
        <input formControlName="name" class="supervisor-in f1" type="text" readonly>
        <div class="pos f1 tc">
            <label for=""># Positions</label>
            <input formControlName="noOfPositions" type="text" />
        </div>
        <div class="shift-times f1 tc">
            <label for="">Shift Times</label>
            <div class="flex ac jsb">
                <input formControlName="firstShiftTime" type="text">
                <input formControlName="secondShiftTime" type="text">
            </div>
        </div>
        <div class="meal-times f1 tc">
            <label for="">Meal Times</label>
            <div class="flex ac jsb">
                <input formControlName="firstMealTime" type="text">
                <input formControlName="secondMealTime" type="text">
            </div>
        </div>
        <div class="RDOs f1 tc">
            <label for="">RDOs</label>
            <div class="flex ac jsb">
                <label for="">Su</label>
                <label for="">M</label>
                <label for="">T</label>
                <label for="">W</label>
                <label for="">Th</label>
                <label for="">F</label>
                <label for="">Sa</label>
            </div>
            <div formGroupName="rdos" class="flex ac jsb">
                <input formControlName="sun" type="checkbox">
                <input formControlName="mon" type="checkbox">
                <input formControlName="tue" type="checkbox">
                <input formControlName="wed" type="checkbox">
                <input formControlName="thu" type="checkbox">
                <input formControlName="fri" type="checkbox">
                <input formControlName="sat" type="checkbox">
            </div>
        </div>
        <div class="stagger f1 tc">
            <label for="">Stagger RDOs</label>
            <select name="" id="">
                <option value="N/A">N/A</option>
                <option value="1">1 Day</option>
                <option value="2">2 Day</option>
            </select>
        </div>
        <div class="f1 remove">

        </div>
    </div>
    <div class="hr s-m"></div>
    <ng-container formArrayName="shiftArray">
        <div formGroupName="0" class="flex shift-wrap">
            <input formControlName="name" class="supervisor-in f1" type="text" readonly>
            <div class="pos f1 tc">
                <input formControlName="noOfPositions" type="text">
            </div>
            <div class="shift-times f1 tc">
                <div class="flex ac jsb">
                    <input formControlName="firstShiftTime" type="text">
                    <input formControlName="secondShiftTime" type="text">
                </div>
            </div>
            <div class="meal-times f1 tc">
                <div class="flex ac jsb">
                    <input formControlName="firstMealTime" type="text">
                    <input formControlName="secondMealTime" type="text" value="">
                </div>
            </div>
            <div class="RDOs f1 tc">
                <div formGroupName="rdos" class="flex ac jsb">
                    <input formControlName="sun" type="checkbox">
                    <input formControlName="mon" type="checkbox">
                    <input formControlName="tue" type="checkbox">
                    <input formControlName="wed" type="checkbox">
                    <input formControlName="thu" type="checkbox">
                    <input formControlName="fri" type="checkbox">
                    <input formControlName="sat" type="checkbox">
                </div>
            </div>
            <div class="stagger f1 tc">
                <select formControlName="staggerRDO">
                    <option value="N/A">N/A</option>
                    <option value="1">1 Day</option>
                    <option value="2">2 Day</option>
                </select>
            </div>
            <div class="f1 remove">
                <span class="material-icons prime-color">
                    remove_circle_outline
                </span>
            </div>
        </div>
        <div formGroupName="1" class="flex shift-wrap">
            <input formControlName="name" class="supervisor-in f1" type="text" readonly>
            <div class="pos f1 tc">
                <input formControlName="noOfPositions" type="text">
            </div>
            <div class="shift-times f1 tc">
                <div class="flex ac jsb">
                    <input formControlName="firstShiftTime" type="text">
                    <input formControlName="secondShiftTime" type="text">
                </div>
            </div>
            <div class="meal-times f1 tc">
                <div class="flex ac jsb">
                    <input formControlName="firstMealTime" type="text">
                    <input formControlName="secondMealTime" type="text" value="">
                </div>
            </div>
            <div class="RDOs f1 tc">
                <div formGroupName="rdos" class="flex ac jsb">
                    <input formControlName="sun" type="checkbox">
                    <input formControlName="mon" type="checkbox">
                    <input formControlName="tue" type="checkbox">
                    <input formControlName="wed" type="checkbox">
                    <input formControlName="thu" type="checkbox">
                    <input formControlName="fri" type="checkbox">
                    <input formControlName="sat" type="checkbox">
                </div>
            </div>
            <div class="stagger f1 tc">
                <select formControlName="staggerRDO">
                    <option value="N/A">N/A</option>
                    <option value="1">1 Day</option>
                    <option value="2">2 Day</option>
                </select>
            </div>
            <div class="f1 remove">
                <span class="material-icons prime-color">
                    remove_circle_outline
                </span>
            </div>
        </div>
        <div formGroupName="2" class="flex shift-wrap">
            <input formControlName="name" class="supervisor-in f1" type="text" readonly>
            <div class="pos f1 tc">
                <input formControlName="noOfPositions" type="text">
            </div>
            <div class="shift-times f1 tc">
                <div class="flex ac jsb">
                    <input formControlName="firstShiftTime" type="text">
                    <input formControlName="secondShiftTime" type="text">
                </div>
            </div>
            <div class="meal-times f1 tc">
                <div class="flex ac jsb">
                    <input formControlName="firstMealTime" type="text">
                    <input formControlName="secondMealTime" type="text" value="">
                </div>
            </div>
            <div class="RDOs f1 tc">
                <div formGroupName="rdos" class="flex ac jsb">
                    <input formControlName="sun" type="checkbox">
                    <input formControlName="mon" type="checkbox">
                    <input formControlName="tue" type="checkbox">
                    <input formControlName="wed" type="checkbox">
                    <input formControlName="thu" type="checkbox">
                    <input formControlName="fri" type="checkbox">
                    <input formControlName="sat" type="checkbox">
                </div>
            </div>
            <div class="stagger f1 tc">
                <select formControlName="staggerRDO">
                    <option value="N/A">N/A</option>
                    <option value="1">1 Day</option>
                    <option value="2">2 Day</option>
                </select>
            </div>
            <div class="f1 remove">
                <span class="material-icons prime-color">
                    remove_circle_outline
                </span>
            </div>
        </div>
        <div formGroupName="3" class="flex shift-wrap">
            <input formControlName="name" class="supervisor-in f1" type="text" readonly>
            <div class="pos f1 tc">
                <input formControlName="noOfPositions" type="text">
            </div>
            <div class="shift-times f1 tc">
                <div class="flex ac jsb">
                    <input formControlName="firstShiftTime" type="text">
                    <input formControlName="secondShiftTime" type="text">
                </div>
            </div>
            <div class="meal-times f1 tc">
                <div class="flex ac jsb">
                    <input formControlName="firstMealTime" type="text">
                    <input formControlName="secondMealTime" type="text" value="">
                </div>
            </div>
            <div class="RDOs f1 tc">
                <div formGroupName="rdos" class="flex ac jsb">
                    <input formControlName="sun" type="checkbox">
                    <input formControlName="mon" type="checkbox">
                    <input formControlName="tue" type="checkbox">
                    <input formControlName="wed" type="checkbox">
                    <input formControlName="thu" type="checkbox">
                    <input formControlName="fri" type="checkbox">
                    <input formControlName="sat" type="checkbox">
                </div>
            </div>
            <div class="stagger f1 tc">
                <select formControlName="staggerRDO">
                    <option value="N/A">N/A</option>
                    <option value="1">1 Day</option>
                    <option value="2">2 Day</option>
                </select>
            </div>
            <div class="f1 remove">
                <span class="material-icons prime-color">
                    remove_circle_outline
                </span>
            </div>
        </div>
    </ng-container>

    <button type="button" class="btn add-btn prime-color flex ac">
        <span class="material-icons prime-color">
            add_circle_outline
        </span>
        <span>Add</span>
    </button>
</form>