<form [formGroup]="dialogForm">
    <div class="form-group">
        <label for="empName">Employee Name:</label>
        <input formControlName="empName" type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
        <label for="displayName">Display Name:</label>
        <input formControlName="displayName" type="text" class="form-control" placeholder="">
    </div>
    <div class="hr s-m"></div>
    <div class="form-group">
        <label for="">Port:</label>
        <input formControlName="port" type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
        <label for="">Work Site:</label>
        <input formControlName="workSite" type="text" class="form-control" placeholder="">
    </div>
    <div class="hr s-m"></div>
    <div class="form-group">
        <label for="">Description:</label>
        <textarea formControlName="description" class="form-control" cols="30" rows="5"></textarea>
    </div>
</form>